<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.photos">

    <!-- To take photo from gallery -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- To take photo from Camera -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />

    <application>

        <activity
            android:name=".ui.activity.PhotosActivity"
            android:theme="@style/Theme.Purple.ActionBar"/>

    </application>

</manifest>